# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\gitlab_project\OncallSysManagement\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
